/* General */

@font-face {
  font-family: "FFF";
  src: url("./assets/fonts/FFFForward Clean.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
}

:root {
  --color-background: #161616; /* A deeper black for a more immersive dark background */
  --color-text: #e0e0e0; /* Off-white for better contrast with the dark background */
  --color-text-purple: #9c27b0;
  --color-text-green: #39ff14; /* Neon green, symbolizing the toxic/poisonous theme */
  --color-border-input: #39ff14; /* Matching neon green for inputs */
  --color-border-input-shadow: rgb(
    130,
    20,
    255
  ); /* Soft shadow for input borders */
  --color-text-title: #9c27b0; /* Deep purple, keeping in line with the snake theme */
  --color-border-gradient-1: #6aff14; /* Gradient start with neon green */
  --color-border-gradient-2: #27b077; /* Gradient end with deep purple */
  --color-red: #ff1744; /* Bright red for danger alerts, keeping a toxic feel */
  --color-green: #39ff14; /* Consistent neon green across the design */

  --fs-xl: clamp(1.8rem, 4vw + 1rem, 2.5rem);
  --fs-600: clamp(1.3rem, 3vw + 0.8rem, 1.5rem);
  --fs-500: clamp(1rem, 2.5vw + 0.6rem, 1.25rem);
  --fs-400: clamp(0.7rem, 2vw + 0.38rem, 1rem);
  --fs-300: clamp(0.65rem, 1.95vw + 0.35rem, 0.95rem);
  --fs-200: clamp(0.55rem, 1.8vw + 0.25rem, 0.9rem);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-background);
  font-family: "FFF", sans-serif;
  font-size: var(--fs-400);
}

p {
  color: var(--color-text);
  -webkit-text-stroke: var(--color-background) 0.8px;
}

a {
  transition: all 200ms ease;
  font-size: var(--fs-400);
  color: var(--color-text);
  text-decoration: none;
  text-decoration-color: var(--color-background);
  -webkit-text-stroke: var(--color-background) 0.8px;
}

a:hover {
  color: var(--color-text-purple);
}

.container-center {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

.error-text {
  color: var(--color-red);
}

.flip-horizontal {
  transform: scaleX(-1); /* Flips the element horizontally */
}

.pixel-art {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-pixelated;
}

/* Forms */

form {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center form elements horizontally */
  margin-bottom: 1rem;
}

input {
  background-color: var(--color-background);
  margin-bottom: 15px;
  padding: 10px;
  font-family: "FFF";
  font-size: var(--fs-400);
  color: white;
  border: 2px solid var(--color-border-gradient-1);
  height: 3rem;
  width: 100%; /* Full width of the parent container */
  max-width: 400px; /* Maximum width for better control */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

input::placeholder {
  color: var(--color-text-purple);
}

input:focus {
  outline: none;
  border-color: var(--color-border-input);
  box-shadow: 0 0 0 3px var(--color-border-input-shadow);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Text */

.text-color-alternate {
  color: var(--color-text-title);
}

.text-color-weaker {
  color: var(--color-border-gradient-2);
}

.text-color-red {
  color: var(--color-red);
}

.text-color-green {
  color: var(--color-green);
}

.text-easier-font {
  font-family: FFF;
  line-height: 25px;
  letter-spacing: 1px;
  font-size: var(--fs-300);
  -webkit-text-stroke: var(--color-background) 0.8px;
}

.text-justify {
  text-align: justify;
}

.section__text__p1 {
  text-align: center;
  color: var(--color-text-purple);
}

.section__text__p2 {
  font-size: var(--fs-600);
  color: var(--color-text-purple);
}

.title {
  font-size: var(--fs-xl);
  text-align: center;
  padding: 0.5rem;
}

.title-section {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Buttons */

.button-default {
  transition: all 200ms ease;

  font-family: "FFF", sans-serif;
  font-size: var(--fs-400);
  font-weight: 10;

  width: 12rem;
  height: 6rem;
  color: var(--color-text);
  background: none;

  -webkit-text-stroke: var(--color-background) 0.8px;

  border: 10px solid;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(
    to bottom,
    var(--color-border-gradient-1),
    var(--color-border-gradient-2)
  );
}

.button-default:hover {
  cursor: pointer;
  background: linear-gradient(
    to bottom,
    var(--color-border-gradient-1),
    var(--color-border-gradient-2)
  );
}

.button-height-less {
  height: 3rem;
}

.button-square {
  height: 3rem;
  width: 3rem;
  margin: 0rem;
  padding: 0rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/* Gradients */

.gradient-text {
  background: -webkit-linear-gradient(
    -86deg,
    #39ff14 25%,
    var(--color-border-gradient-2) 75%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 5px transparent;
  color: var(--color-background);
}

.border-gradient-thin {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(
    to bottom,
    var(--color-border-gradient-1),
    var(--color-border-gradient-2)
  );
}

.border-gradient-normal {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(
    to bottom,
    var(--color-border-gradient-1),
    var(--color-border-gradient-2)
  );
}

/* Home Page */

.buttons-login-container {
  display: flex;
  flex-direction: row;
}

/* Main Menu Page */

.buttons-main-menu-container {
  display: flex;
  flex-direction: row;
}

/* Create Private Lobby */

.cpl-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  color: var(--color-text);
}

.cpl-top-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2;
  padding: 20px;
  box-sizing: border-box;
}

.cpl-player-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.cpl-player-info-left {
  justify-content: space-around;
}

.cpl-player-info-right {
  justify-content: space-around;
}

.cpl-player-stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.cpl-player-stats-group {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.cpl-player-stats-icon {
  width: 30px;
  height: 30px;
}

.cpl-player-info-snake-image {
  width: 100%;
  height: auto;
  max-width: 50%;
  max-height: 50%;

  user-select: none;
  margin: 1rem;
}

.abilities {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.abilities button {
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
  cursor: pointer;
  margin: 1rem;

  background-color: var(--color-background);
  border: 2px solid var(--color-border-gradient-1);
}

.abilities button.active {
  border-color: var(--color-border-input);
  box-shadow: 0 0 0 3px var(--color-border-input-shadow);
}

.cpl-code-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.cpl-map-preview-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.cpl-map-preview-image {
  height: 100%;
}

.cpl-map-navigation-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  gap: 2rem;
}

.cpl-map-name {
  padding: 0.2rem;
  font-size: var(--fs-600);
}

.cpl-map-settings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 20%;
  padding-right: 20%;
}

.cpl-setting-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

.cpl-label {
  font-size: var(--fs-300);
  color: var(--color-border-gradient-2);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.cpl-input {
  width: 60px;
  margin-bottom: 0;
}

.cpl-checkbox {
  display: none;
}

.checkbox_wrapper {
  position: relative;
  height: 48px;
  width: 48px;
}

input[type="checkbox"] {
  opacity: 0;
  height: 48px;
  width: 48px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

input[type="checkbox"] + label {
  background: url(/src/assets/images/CustomCheckbox-Off.png) no-repeat;
  height: 48px;
  width: 48px;
  display: inline-block;
  padding: 0 0 0 0px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

input[type="checkbox"]:checked + label {
  background: url(/src/assets/images/CustomCheckbox-On.png) no-repeat;
  height: 48px;
  width: 48px;
  display: inline-block;
  padding: 0 0 0 0px;
}
